/* Background */

$--bg-color-primary-1:#013056;
$--bg-color-primary-2:#1b7fd0;
$--bg-color-primary-3:#e1eaf1;
$--bg-color-primary-4:#075da2;


/* Text Color */

$--font-color-primary-1:#caddea;
$--font-color-primary-2:#ffffff;
$--font-color-primary-3:#1b7fd0;
$--font-color-primary-4:#075da2;
$--font-color-primary-5:#0000;

/* BtnBG Color */

$--bg-color-btn-1:#dd0000;
$--bg-color-btn-2:#a40000;
$--bg-color-btn-3:#075da2;
$--bg-color-btn-4:#1b7fd0;

/* BtnFont Color */

$--font-color-btn-1:#ffffff;


/*BbtnBG Hover Color*/

$--bg-color-btn_hover-1:#caddea;
$--bg-color-btn_hover-2:#1b7fd0;