<header>
  <div class="before-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8  col-lg-7">
          <div class="header-contact">
            <span
              >Sales toll free:
              <a class="footer-phone" href="tel:+1-877-395-5712">
                1(877) 395-5712</a
              ></span
            >
            <span>
              Support toll free:
              <a class="footer-phone" href="tel:+1(888) 305-4726">
                1(888) 305-4726</a
              ></span
            >
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5"></div>
      </div>
    </div>
  </div>
</header>
