<main>
  <section class="home-page-calc">
    <div class="container-fluid index-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="calc-block">
              <h4>
                Get a price quote
                <span>
                  <b>15%</b>
                  <i>OFF</i>
                  Your First Discount
                </span>
              </h4>

              <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1"
                      >Title of your paper</label
                    >
                    <select class="form-control" id="exampleFormControlSelect1">
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1"
                      >Academic Level</label
                    >
                    <select class="form-control" id="exampleFormControlSelect1">
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Spacing</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Urgency</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    </select>
                  </div>
                  <div class="home-btn"><a href="#">Order now</a></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid  index-page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mp-wrapper">
              <h2>
                Essay writing is challenging, difficult and time-consuming
              </h2>
              <p>
                Are students overseas concerned about different research papers
                writing? Certainly yes! It is often much harder for them to keep
                up with written essay assignments, especially at higher level
                education. Though they may study hard, but they may still be
                disappointed with the grades they get for their coursework. The
                recipe for success is to create a genuinely good research paper
                with a unique angle. When this is strengthened with good editing
                and a plagiarism test, you have an opportunity to get a grade
                winning essay. </p>
                <p>If you are thinking you can't write your essay
                well enough and you need professional assistance, then you are
                thinking along the right lines. When your tutors read the essay
                we provide, they will love it. They will think you wrote it and
                they will admire the way it is written, so you are likely to get
                an A grade.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>
