.btn-header_login {

    @include font(22px, $font-robotothin, $--font-color-primary-2, 400);
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    width: 65px;
    height: 16px;
    text-decoration: none;
    background: url(../img/Login.svg) no-repeat 100%;
    width: 115px;
    height: auto;
    display: inline-block;
}

.btn-header_chat {
    width: 65px;
    height: 16px;
    @include font(22px, $font-robotothin, $--font-color-primary-2, 400);
    text-transform: uppercase;
    text-decoration: none;
    background: url(../img/Chat.svg) no-repeat 100%;
    width: 170px;
    height: auto;
    display: inline-block;
}

.home-btn {
@include font(26px, $font-robotothin, $--font-color-primary-2, 400);
line-height: 34px;
text-transform: uppercase;
margin: 0 auto;
    margin-bottom: 0px;
display: block;
box-shadow: 2px 4px 7px rgba(155,182,190,.55);
text-align: center;
padding: 15px 0;
position: relative;
margin-bottom: 30px;
width: 310px;
background-color: $--bg-color-btn-1;


}